# Compiled class file
*.class

/target/
.idea/
experian.iml

.classpath
.project
.settings/*
experian-evidente/.settings/*
experian-rest/.settings/*
historia-crediticia/.settings/



# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
